#social img{
	height: 50px;
	width: 50px;
	margin: 10px;
}
#social{
	text-align: center;
}
#tienda img{
	height: 225px;
	width: 400px;

}
footer{
	text-align: center;
	margin: 10px;
}
